  .table .thead-dark th {
      text-align: center;
  }


  .table {
      text-align: center;

  }


  .egReQt .img-thumbnail {
      width: 50px;
      height: 50px;
  }

  .pagination {
      display: flex;
      justify-content: center;
  }

  #paginationButton {
      margin-right: 40px;
  }

  #paginationGoTo {
      margin-right: 40px;
  }


  .avatar img {
      width: 50px !important;
      height: 50px !important;
  }

  .iconDetails {
      width: 20px;
      height: 20px;
  }

  .divButtonFilter {
      margin-right: 20px;
      display: none;

  }

  .buttonsHeader {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }

  @media only screen and (max-width: 400px) {

      th:nth-child(3),
      th:nth-child(4),
      th:nth-child(5),
      th:nth-child(6),
      th:nth-child(7) {
          display: none
      }

      td:nth-child(3),
      td:nth-child(4),
      td:nth-child(5),
      td:nth-child(6),
      td:nth-child(7) {
          display: none
      }

      #pageNumber {
          width: 70px !important;
      }

      #paginationGoTo {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 10px;
          margin-left: 10px !important;
      }

      .city,
      .name {
          font-size: 14px;
      }

      .iconDetails {
          width: 10px;
          height: 10px;
      }
  }


  @media only screen and (max-width: 600px) {
      .divButtonFilter {
          display: block;

      }

      .filterGnomeDesktop {
          display: none;
      }

      th:nth-child(7),
      th:nth-child(4),
      th:nth-child(5),
      th:nth-child(6) {
          display: none
      }

      td:nth-child(7),
      td:nth-child(4),
      td:nth-child(5),
      td:nth-child(6) {
          display: none
      }


  }


  @media only screen and (max-width: 900px) {

      .table {
          font-size: 14px;
      }

      th:nth-child(7),
      th:nth-child(4),
      th:nth-child(5),
      th:nth-child(6) {
          display: none
      }

      td:nth-child(7),
      td:nth-child(4),
      td:nth-child(5),
      td:nth-child(6) {
          display: none
      }

      .pagination {
          height: 100px;
          flex-direction: column;
          justify-content: space-around;
      }

      #paginationButton {
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 15px;
          margin-top: 30px;
      }

      #paginationButton button {
          margin-left: 30px;
          height: 40px;


      }

      #paginationGoTo {
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-bottom: 10px;
          margin-left: 70px;
      }

      #paginationPage {
          display: flex;
          margin-left: -75px;
          flex-direction: row;
          justify-content: center;
      }

  }

  .iconHelp:hover {
      background-color: gray;
      border-radius: 10px;
  }