.row {
    display: flex;
    

}

/* Css of Header of container Gnomes */
.divButtonFilter {
    margin-right: 20px;
}

.buttonsHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.resultsGnomes {
    margin-top: 5px;
    margin-right: 20px;
}


/* Inline #19 | http://localhost:3000/ */
.submitFilter {
    width: 200px;
    height: 35px;
    margin-left: 50px;
    margin-top: 30px;
}


/* filter */

.inputAge,
.inputWeight,
.inputHeight {
    display: flex;
    justify-content: space-around;
    margin-left: -10px;
}

.form-control.filterInputNumber {
    padding: 3px;
}

.labelAge,
.labelWeight,
.labelHeight {
    display: flex;
    justify-content: center;
}


.form-control.filterInputNumber {

    width: 40% !important;
    text-align: center;

}


@media only screen and (min-width: 800px) {
    .divButtonFilter {
        display: none;
    }
    
}


.row.first-line {
    justify-content: space-evenly;
}

.row.second-line {
    justify-content: space-evenly;
}



.submit.btn.btn-primary {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }
  