@import "../../../styled/variables.scss"; 

.row {
    display: flex;
    

}


.row.second-line {
    justify-content: flex-start;
  }
  
  .row.first-line {
    justify-content: flex-start;
  }
  
  .submitButtonFilter{
      border-radius: 5rem;
  }
/* Css of Header of container Gnomes */
.divButtonFilter {
    margin-right: 2rem;
}

.buttonsHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.resultsGnomes {
    margin-top: .5rem;
    margin-right: 2rem;
}


/* Inline #19 | http://localhost:3000/ */
.submitFilter {
    width: 20rem;
    height: 3.5rem;
    margin-left: 5rem;
    margin-top: 3rem;
}


/* filter */

.inputAge,
.inputWeight,
.inputHeight {
    display: flex;
    justify-content: space-around;
    margin-left: -1rem;
}

.form-control.filterInputNumber {
    padding: 3px;
}

.labelAge,
.labelWeight,
.labelHeight {
    display: flex;
    justify-content: center;
}


.form-control.filterInputNumber {

    width: 40% !important;
    text-align: center;

}


@media only screen and (min-width: $bp-medium) {
    .divButtonFilter {
        display: none;
    }
    
}


.row.first-line {
    justify-content: space-evenly;
}

.row.second-line {
    justify-content: space-evenly;
}



.submit.btn.btn-primary {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
  }
  